<div class="container-fluid">
<div class="row py-3 mb-1 bg-light justify-content-between">
    <div class='col-auto'><button [routerLink]="['home']" class="btn bg-transparent">Home</button></div>
    <div class='col-auto'>
        <button *ngIf="user else login;" class="btn bg-transparent" (click)="toggleCollapse()" class="btn bg-transparent" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{{user}}</button>

        <div id="collapse" *ngIf="isCollapsed"  class="position-absolute card user-details" style="right: 0">
            <div>Orders({{orders}})</div>
            <div>
            <button  (click)="logOff()" *ngIf="user else login;" class="btn btn-primary">Log Off</button>
        </div>
        </div>


        <ng-template #login>
        <button (click)="openModal()" class="btn bg-transparent">Log In</button>
        </ng-template>

        <modal #myModal>
            <modal-header></modal-header>
            <modal-content>
                <div class="d-flex justify-content-center align-items-center">  <label class="mr-1"for="user">User : </label>
                    <input #userName id="user" type="text">
                </div>
            </modal-content>
            <modal-footer>
                <button class="btn btn-primary" (click)="closeModal(userName.value)">LogIn</button>
            </modal-footer>
        </modal>

            <app-cart-button [routerLink]="['cart']" [total]="cartTotal | async"></app-cart-button>
    </div>
</div>

<router-outlet></router-outlet>

</div>